@font-face {
  font-family: "Cthulhumbus";
  src: url("assets/JMH_Cthulhumbus.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #0e1a22 0%, #4c2f22 100%);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.headerdiv {
  position: relative;
  width: 90vw;
  height: 25vh;
  overflow: hidden;
  margin: 2em auto;
  border: 5px solid rgba(14, 26, 34, 0.6);
  box-shadow: 0 8px 20px rgba(11, 16, 28, 0.7), 0 0 30px rgba(76, 47, 34, 0.4);
  border-radius: 5px;
}

.headerdiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.headertextdiv {
  position: absolute;
  z-index: 10;
  top: 0;
  color: #d2984ccf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  font-size: 2em;
  margin-top: -1.5em;
  font-family: "Cthulhumbus", serif;
  text-shadow: 1px 1px 2px #000000b9, 0 0 10px rgba(210, 151, 76, 0.5),
    0 0 20px rgba(210, 151, 76, 0.3);
  -webkit-text-stroke: 0.5px black;
}

.homebuttondiv {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
  gap: 1em;
}

.homebuttondiv button {
  background-color: #3a251c;
  flex: 1;
  padding: 1.5em;
  border: none;
  border-radius: 20px;
  margin-top: 1.5em;
  box-shadow: 0 8px 20px rgba(19, 35, 46, 0.7), 0 0 30px rgba(88, 55, 40, 0.4);
  color: #d2984ccf;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  font-family: "Cthulhumbus", serif;
  font-weight: 600;
}
